
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



/* sticky bar */

.sticky_bar{
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-image: linear-gradient(to right,orange,blue);
    color: aliceblue;
    /* z-index: -10px; */

}
.flag_logo div{
    font-size: 36px;
    display: inline-block;
}

.menu_bar{
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-top: 15px;

}

.menu_bar li:hover {
    background-color: #0a0a9f;
    border-radius: 5px;
    transition: 0.3s ease;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: aliceblue;
    color: black;
}

.nav-links a {
    color: black;
}

/* LOGO */
.logo {
    font-size: 32px;
    padding: 0px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    margin-top: 10px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.startup {
    position: relative;
}

.mentor {
    position: relative;
}

.incubator {
    position: relative;
}

.challenges {
    position: relative;
}

.program {
    position: relative;
}

.policies {
    position: relative;
}

.facilities {
    position: relative;
    z-index: 9999;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 30px;
    z-index: 9999;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.startup:hover .dropdown {
    display: block;
}

.mentor:hover .dropdown {
    display: block;
}

.incubator:hover .dropdown {
    display: block;
}

.challenges:hover .dropdown {
    display: block;
}

.program:hover .dropdown {
    display: block;
}

.policies:hover .dropdown {
    display: block;
}

.facilities:hover .dropdown {
    display: block;
    z-index: 9999;

}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox] {

    display: none;

}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 9999;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }

}
