<!-- nav bar completed -->
<app-header></app-header>
<!-- carousel slider started -->

<!-- <carousel style="height: 400px;z-index: 1;" [images]="images" [cellsToShow]="1" [loop]="true" [autoplay]="true"
    [autoplayInterval]="3000"></carousel> -->

<!-- carousel slider ends -->




<!-- programs start -->
<div class="row programs">
    <!-- <p>you can add images or text</p> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../src/assets/pictures/hallCarousal.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.homify.com/c_fill,f_auto,q_0,w_740/v1495001963/p/photo/image/2013905/CAM_2_OPTION_1.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbozGm39dnaNjBS_HaVSBDDP1XagJfqmE-03Qp5l8csA&s" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>  
  </div>

<!-- our team start -->
<!-- <div class="ourteam">
    <mat-grid-list cols="4" rowHeight="2:2">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
</div> -->

<!-- <div class="fourcards">
    <div class="centered">
        <section class="cards">
            /card-one
            <article class="card">
                <h2>header</h2>
                <p>content for card one</p>
                <a href="">learn more</a>
            </article>
            /card-two
            <article class="card">
                <h2>header</h2>
                <p>content for card two</p>
                <a href="">learn more</a>

            </article>
            /card-three
            <article class="card">
                <h2>header</h2>
                <p>content for card three</p>
                <a href="">learn more</a>

            </article>
            /card-four
            <article class="card">
                <h2>header</h2>
                <p>content for card four</p>
                <a href="">learn more</a>

            </article>
        </section>
    </div>
</div> -->


<div class="container">
    <div class="row" style="background-color: transparent;">
        <div class="card" style="width: 50%;">
            <!-- <img src=".." class="card-img-top" > -->
            <div class="card-body">
                <h1 class="card-title mt-4">How does House Rental Application works</h1>
                <div>
                    <p> Lorem ipsum dolor, sit amet consectetur</p>
                    <!-- <ol>
                        <li>Lorem ipsum dolor, sit amet consectetur</li>
                        <li>adipisicing elit. Quae voluptatibus nemo pariatur </li>
                        <li> vitae minus explicabo perferendis architecto inventore </li>
                        <li>sdfghjkcvbn dfghjk</li>
                        <li> vero aut quas sed similique!</li>
                    </ol> -->
                </div>
                
                    <button type="button" class="btn btn-default"><a href="/how-it-works">Read More...</a></button>


            </div>
        </div>
        <div class="card" style="width: 33%;">
            <img src="https://thumbs.dreamstime.com/b/happy-black-couple-handshaking-realtor-insurer-landlord-meeting-first-time-home-owners-bank-worker-african-family-customers-140713913.jpg" class="card-img-top" alt="...">
            <!-- <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
        </div>
    </div>
</div>

<!-- <app-team></app-team> -->

<div class="container-fluid py-2">
    <div class="d-flex flex-row flex-nowrap scroll-cards-section">
        <div class="col cardspace">
            <div class="card h-100 custom-card-rad">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                    class="card-img-top custom-card-img-top" alt="Skyscrapers" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                    <a href="#" class="align-self-center " style="margin-top: auto;">Read their story</a>
                </div>

            </div>
        </div>
        <div class="col cardspace">
            <div class="card h-100 custom-card-rad">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
                    class="card-img-top custom-card-img-top" alt="Los Angeles Skyscrapers" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>

                    <a href="#" class="align-self-center " style="margin-top: auto;">Read their story</a>
                </div>

            </div>
        </div>
        <div class="col cardspace">
            <div class="card h-100 custom-card-rad">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                    class="card-img-top custom-card-img-top" alt="Palm Springs Road" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </p>
                    <a href="#" class="align-self-center " style="margin-top: auto;">Read their story</a>
                </div>

            </div>
        </div>
        <div class="col cardspace">
            <div class="card h-100 custom-card-rad">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                    class="card-img-top custom-card-img-top" alt="Palm Springs Road" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </p>
                    <a href="#" class="align-self-center " style="margin-top: auto;">Read their story</a>
                </div>

            </div>
        </div>
        <div class="col cardspace">
            <div class="card h-100 custom-card-rad">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                    class="card-img-top custom-card-img-top" alt="Palm Springs Road" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </p>
                    <a href="#" class="align-self-center " style="margin-top: auto;">Read their story</a>
                </div>

            </div>
        </div>
        <div class="col cardspace">
            <div class="card h-100 custom-card-rad">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                    class="card-img-top custom-card-img-top" alt="Palm Springs Road" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </p>
                    <a href="#" class="align-self-center " style="margin-top: auto;">Read their story</a>
                </div>

            </div>
        </div>
        <div class="col cardspace">
            <div class="card h-100 custom-card-rad">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                    class="card-img-top custom-card-img-top" alt="Palm Springs Road" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </p>
                    <a href="#" class="align-self-center " style="margin-top: auto;">Read their story</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container contact-card">

    <div class="col-sm-12 custom-box ">
        <div class="col-md-6 col-md-offset-3 form-custom-box">
            <div class="well form-well " style="padding: 40px;">

                <legend class="blue-txt text-center mt-4">Contact US</legend>
                <!-- <h2 class="text-center">Contact US</h2> -->
                <form class="form-inline text-center">
                    <div class="group">
                        <input required="" type="text" class="">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>

                    <div class="group">
                        <input required="" type="text" class="">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>

                    <div class="group">
                        <textarea type="text" rows="5" required="" class=""></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Message</label>
                    </div>
                    <!-- <div class="group">
                        <button type="submit" class="btn btn-warning">Submit <span
                                class="glyphicon glyphicon-send"></span></button>
                                <button class="btn btn-primary">send</button>
                      
                    </div> -->
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <center> <button type="submit" class="btn btn-warning">Submit <span
                        class="glyphicon glyphicon-send"></span></button></center> -->