<p>about-us works!</p>
<!-- <p>about-us works!</p> -->
<div class="container">
  <h1 class="text-center my-5">About Us</h1>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id tincidunt malesuada, augue ipsum congue risus, a congue eros ipsum ut ipsum. Sed id augue tellus. Sed vitae commodo justo. Aenean non lectus vel velit commodo malesuada. Sed id malesuada velit. Sed vel nibh eget velit congue bibendum.</p>
    </div>
    <div class="col-md-6">
      <img src="path/to/image.jpg" class="img-fluid" alt="Company Logo">
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h3>Our Mission</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id tincidunt malesuada, augue ipsum congue risus, a congue eros ipsum ut ipsum.</p>
    </div>
    <div class="col-md-4">
      <h3>Our Vision</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id tincidunt malesuada, augue ipsum congue risus, a congue eros ipsum ut ipsum.</p>
    </div>
    <div class="col-md-4">
      <h3>Our Values</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id tincidunt malesuada, augue ipsum congue risus, a congue eros ipsum ut ipsum.</p>
    </div>
  </div>
  <h2 class="text-center my-5">Meet Our Team</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="path/to/team-member-image.jpg" class="card-img-top" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text">Position</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="path/to/team-member-image.jpg" class="card-img-top" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">Jane Doe</h5>
          <p class="card-text">Position</p>
        </div>
      </div>
    </div>
  </div>  
